.selected{
    background: lightblue;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(0, 6, 48);
    width: fit-content;
}

.main-block{
    width: 100%;
}

.input-block,
.card-block{
    padding: 50px 150px;
    box-sizing: border-box;
}

.my-card{
    width: 280px;
    height: 280px;
    background: rgb(230, 228, 206);
    border-radius: 25px;
    z-index: 3;
} 

.my-card-over:nth-child(1) .my-card,
.my-card-over:nth-child(1) .card-fader{
    background: url(../../assets/images/Sleep-Token--Take-Me-Back-To-Eden.webp) center/cover;
}

.my-card-over:nth-child(2) .my-card,
.my-card-over:nth-child(2) .card-fader{
    background: url(../../assets/images/slipknot.jpg) center/cover;
}

.my-card-over:nth-child(3) .my-card,
.my-card-over:nth-child(3) .card-fader{
    background: url(../../assets/images/Dying-Is-Your-Latest-Fashion.jpg) center/cover;
}

div{
    text-align: center;
}

.card-faders{
    width: 280px;
    height: 280px;
    position: absolute;
    opacity: 0;
    transition: opacity 1000ms;
}

.my-card-over:hover .card-faders{
    opacity: 1;
}

.card-fader{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: url(../../assets/images/Sleep-Token--Take-Me-Back-To-Eden.webp) center/cover;
}

.card-faders .card-fader:nth-child(even){
    animation: 3s ease infinite leftanim;
}
.card-faders .card-fader:nth-child(odd){
    animation: 3s ease infinite rightanim;
}

.card-faders .card-fader:is(:nth-child(3), :nth-child(4)){
    animation-delay: 1000ms;
}

.card-faders .card-fader:is(:nth-child(5),:nth-child(6)){
    animation-delay: 2000ms;
}

@keyframes leftanim{
    from{
        transform: translateX(0px);
        opacity: 1;
        scale:1;
    }
    to{
        transform: translateX(-100px);
        opacity: 0;
        scale:0.7;
    }
}

@keyframes rightanim{
    from{
        transform: translateX(0px);
        opacity: 1;
        scale:1;
    }
    to{
        transform: translateX(100px);
        opacity: 0;
        scale:0.7;
    }
}

