<div class="main-block">
    <div class="d-flex justify-content-evenly card-block">
        <!-- <button type="button" (click)="onSelect(cardTitle)"></button> -->
        <div class="d-flex my-card-over" (mouseenter)="onEntered(cardTitle)"
            *ngFor="let cardTitle of cardTitles; index as i">
            <div class="my-card d-flex align-content-center flex-wrap justify-content-center"></div>
            <div class="card-faders">
                <div class="card-fader"></div>
                <div class="card-fader"></div>
                <div class="card-fader"></div>
                <div class="card-fader"></div>
                <div class="card-fader"></div>
                <div class="card-fader"></div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedCard">
    <h2>{{selectedCard.album}}</h2>
</div>
<div *ngFor="let i = index">Aboba</div>